@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* font-family: "Playfair", serif; */
/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #e3e8e4;
  --primary-color: #363636;
  --main-font: "Playfair", serif;
}

/* Nav Section Start */
nav {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  padding: 10px;
  /* position: fixed; */
}

.logo img {
  width: 100px;
  height: 50px;
}
ul li {
  display: inline;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: #000;
  margin-left: 4rem;
  margin: 15px;
  padding: 0;
}

ul li a:hover {
  border-bottom: solid 2px;
}

ul li a:hover {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  transition: 0.7s;
}

.btn-fill {
  padding: 10px 30px;
  background: var(--primary-color);
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

.btn-fill:hover {
  background: transparent;
  color: #000;
  border: solid;
  transition: 0.5s;
}

.btn-outline {
  background-color: transparent;
  border: none;
  margin-left: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 1s;
}
.btn-outline:hover {
  opacity: 0.8;
  background: #999;
  padding: 10px;
  border-radius: 15%;
}
/* Nav Section End */

/* Header Section Start */
header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  margin-left: 6rem;
}
.main-headings {
  font-size: 4rem;
  font-family: var(--main-color);
  color: #0000004f;
  margin-bottom: 2rem;
}
@media (max-width: 400px) {
  .content-container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
  }
}
.main-headings span {
  color: #000;
}
.primary-headings {
  max-width: 500px;
  font-family: sans-serif;
  line-height: 25px;
  margin-bottom: 2rem;
  /* text-align: center; */
  margin-left: 15px;
}
.img-container {
  margin-top: 2rem;
  width: 500px;
  height: 500px;
  background-color: var(--main-color);
  border-radius: 100%;
}
.img-container img {
  width: 400px;
  height: 500px;
  margin-left: 20px;
  margin-bottom: 40px;
}
@media (max-width: 400px) {
  .img-container {
    max-width: 380px;
    height: 380px;
    overflow: hidden;
  }
  .img-container img {
    width: 100%;
  }
}
/* Header Section End */

/* Popularity Section Start */
.popularity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* height: 50vh; To be deleted ------------------------ */
}
@media (max-width: 600px) {
  .popularity {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    font-size: 1.5rem;
  }
  .popularity div {
    margin-top: 10px;
    font-size: 0.9rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 7rem;
  }
}
.popularity div {
  margin-right: 5rem;
}
.popularity div h1 {
  font-size: 3rem;
  text-align: center;
  color: #363636;
  font-family: var(--main-font);
}
.popularity div p {
  color: #363636;
  font-family: sans-serif;
}
/* Popularity Section End */

/* Products Section Start */
.products-container {
  /* border-top: solid 1px gray; */
}
.products-heading {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 4rem;
  color: #0000004f;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.product {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.product .product-img-layer {
  background-color: var(--main-color);
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  padding: 20px;
}
.product .product-img-layer .img {
  width: 200px;
  height: 200px;
}
.product .product-img-layer .img-one {
  background: url(images/Soft_Seating_2-1-removebg-preview.png);
  background-size: cover;
  background-position: center;
}
.product .product-img-layer .img-two {
  background: url(images/PHOTO-2021-07-30-09-12-10-2-removebg-preview.png);
  background-size: cover;
  background-position: center;
}
.product .product-img-layer .img-three {
  background: url(images/study-desk-chair-1-removebg-preview.png);
  background-size: cover;
  background-position: center;
}
.product-content {
  background: var(--primary-color);
  padding: 27px;
  padding-bottom: 50px;
  color: #fff;
}
.product-content .product-name {
  font-family: sans-serif;
  margin-bottom: 10px;
}
.b-container {
  text-align: center;
}
.b-container button {
  border: none;
  background: transparent;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 auto;
  margin-left: 20px;
  margin-top: 20px;
}
/* Products Section End */

/* Why Us? Section Start  */
.why-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}
@media (max-width: 900px) {
  .why-us {
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}
.why-us .img-layer {
  width: 400px;
  height: 400px;
  background: var(--main-color);
  border-radius: 100%;
}
@media (max-width: 400px) {
  .why-us .img-layer {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }
  .why-us .img-layer .img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 300px) {
  .why-us .img-layer {
    width: 250px;
    height: 250px;
    overflow: hidden;
  }
  .why-us .img-layer .img {
    width: 250px;
    height: 250px;
  }
}
.why-us .img-layer .img {
  width: 400px;
  height: 400px;
  background: url(images/scott-webb-eD853mTbBA0-unsplash-removebg-preview.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: auto;
}

.card {
  width: 200px;
  height: 200px;
  padding: 20px;
  margin-top: 40px;
  border-radius: 5px;
  margin-left: 5px;
}
@media (max-width: 400px) {
  .card {
    width: 150px;
    height: auto;
  }
}
.card.card-fill {
  background: #e3e8e490;
  position: relative;
}
.card.card-fill .star {
  width: 10px;
  height: 10px;
  padding: 15px;
  border-radius: 100%;
  background: var(--primary-color);
  position: absolute;
  top: -15px;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #fff;
}
.card h1 {
  color: #000;
  font-family: sans-serif;
  font-size: 17px;
}
.card p {
  color: #999;
  font-family: sans-serif;
  font-size: 12px;
  margin-top: 20px;
}
/* Why Us? Section End  */

/* Feature Section Start */
.features {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.d-none {
  margin-top: 2rem;
}
/* Feature Section End */

/* Footer Section Start  */
footer {
  background: var(--primary-color);
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  color: #fff;
  overflow: hidden;
}

footer .logo-container h1 {
  font-size: 2rem;
  font-style: italic;
  font-family: var(--main-font);
}
footer .logo-container p {
  max-width: 400px;
  font-family: sans-serif;
  line-height: 25px;
}

footer .about-company {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer .about-company .container {
  margin-right: 40px;
  margin-top: 20px;
}
.about-company .container h1 {
  margin-bottom: 50px;
}

.about-company .container p {
  margin-bottom: 20px;
  font-family: sans-serif;
}
.closing {
  text-align: center;
}
/* Footer Section End */

/* Responsiveness */
@media only screen and (max-width: 900px) {
  header {
    height: 120vh;
    text-align: center;
    justify-content: center;
  }
  .popularity {
    /* margin-top: 10rem; */
    text-align: center;
  }
  .d-none {
    width: 350px;
    height: 350px;
  }

  .main-headings {
    font-size: 3rem;
    text-align: center;
  }
}
